* {
   box-sizing: border-box;
}
html {
   overflow-x: hidden;
   overflow-y: scroll;
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
   background: #eeeeee;
}

body {
   letter-spacing: 0;
   font-weight: 400;
   font-style: normal;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   -moz-font-feature-settings: "liga" on;
   color: rgba(0,0,0,.75);
   margin: 0;
   padding: 0;
   word-break: break-word;
   word-wrap: break-word;
   font-family: FreeSerif,Georgia,Cambria,"Times New Roman",Times,serif;
   background: #eeeeee;
   padding-bottom: 20em;
   font-size: 18px;
   line-height: 1.3;
}

textarea, input { outline: none; border:none; }


.card {
   /* box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.12), 0 1px 2px 0px rgba(0,0,0,0.24); */
   /* -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.12), 0 1px 2px 0px rgba(0,0,0,0.24); */
   /* -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1), 0 1px 2px 0px rgba(0,0,0,0.24); */
   /* border-radius: 1px; */
   border: 1px solid rgba(0,0,0,.1)
}

.top-wrapper {
   max-width: 1040px;
   margin: auto;
   padding: 0;
   background: #fff;
}

.top-image {
   max-width: 100%;
}

a {
   color: #2196F3;
   text-decoration: none;
}

a:hover {
   color: #FB8C00;
}


.navigation {
   padding: 0.5em 0.5em 0 0.5em;
   margin: auto;
   max-width: 500px;
}

.list_of-predifined_publications {
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: space-around;
}

.list_of-predifined_publications li {
   list-style: none;
   text-align: center;
   padding-top: 0.7em;
   font-size: 1.2em;
   display: inline-block;
   padding-left: 1em;
}

.search_box {
   width: 100%;
   font-size: 1em;
   height: 2.5em;
   padding: 0 0.5em;
   display: block;
   margin: auto;
   margin-top: 1em;
}

.publication-wrapper {

}

.publication-wrapper .figure {
   text-align: center;
}

.publication-wrapper > header {
   max-width: 500px;
   margin: auto;
}

header h1 {
   text-align: center;
}

img {
   max-width: 100%;
}

#TOC {
   margin: 4em 0 8em 0;
}

#TOC li {
   list-style: none;
}

#TOC ul {
   padding-left: 1em;
}

.summary-tag {
   display: inline-block;
   list-style: none;
   padding-right: 0.7em;
}

/* Begin of blockquote */
.publication-wrapper blockquote {
   display:block;
   background: #fff;
   padding: 15px 20px 15px 45px;
   position: relative;

  /*Font*/
   font-family: Georgia, serif;
   font-size: 16px;
   line-height: 1.2;
   color: #666;
   text-align: justify;

  /*Borders - (Optional)*/
   border-left: 15px solid #bbb;
   border-right: 2px solid #bbb;

  /*Box Shadow - (Optional)*/
   -moz-box-shadow: 2px 2px 15px #ccc;
   -webkit-box-shadow: 2px 2px 15px #ccc;
   box-shadow: 2px 2px 15px #ccc;
}

blockquote::after{
  /*Reset to make sure*/
   content: "";
}

blockquote a{
   text-decoration: none;
   cursor: pointer;
   padding: 0 3px;
   color: #2196F3;
}


blockquote em{
   font-style: italic;
}
/* End of blockquote */



/* Begin of h2 */
.publication-wrapper h2 {
   margin-top: 4em;
}
/* End of h2 */



.summary {
   height: 157px;
   border: 1px solid rgba(0,0,0,.1)
}


.publication-wrapper .abstract {
   height: 6em;
}

.publication-wrapper .date {
   margin-top: 1em;
   font-size: 0.75em;
}

.publication-wrapper .author {
   font-size: 0.75em;
}


@media (max-width: 1000px) {
   body {
      font-size: 16px;
      line-height: 1.3;
   }

   .top-header {
      margin: 0 0 2em 0;
      width: 100%;
      padding-top: 28.125%;
   }

   .summary {
      padding: 0.5em;
      max-width: 500px;
      margin: auto;
      margin-top: 1em;
      border: 1px solid rgba(0,0,0,.1)
   }

   .summary-columns {
      height: 100%;
   }

   .summary-text-column {
      display: flex;
      flex-direction: column;
      height: 100%;
   }

   .summary-title {
      text-align: center;
      font-size: 1.2em;
      margin: 0;
   }

   .summary-tags {
      margin: 0;
      padding: 0.5em 0 0 0;
      font-size: 0.65em;
   }


   .summary-abstract {
      margin: 0;
      padding-top: 0.5em;
      font-size: 1em;
      flex:1;
   }

   .summary-author_date {
      margin: 0;
      padding-top: 0.5em;
      font-size: 0.75em;
   }

   .content {
      padding: 3em 0.5em 4em 0.5em;
      max-width: 740px;
      min-width: 300px;
      margin: auto;
   }

}



@media (min-width: 1000px) {
   /* body { */
   /*    font-size: 18px; */
   /*    line-height: 1.4; */
   /* } */

   .top-header {
      margin: 2em 0;
      width: 100%;
      padding-top: 28.125%;
   }

   .summary {
      width: 650px;
      margin: auto;
      margin-top: 2em;
      border: 1px solid rgba(0,0,0,.1)
   }

   .summary-columns {
      display: flex;
      height: 100%;
   }

   .summary-picture-column {
      flex: 1;
      position: relative;
   }

   .summary-picture-column > a{

      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
   }

   .summary-text-column {
      padding: 0.5em;
      flex: 2;
      padding:0.5em;
      display: flex;
      flex-direction: column;
   }

   .summary-title {
      text-align: center;
      font-size: 1.2em;
      margin: 0;
   }

   .summary-tags {
      margin: 0;
      padding: 0.5em 0 0 0;
      font-size: 0.65em;
   }

   .summary-abstract {
      margin: 0;
      padding-top: 0.5em;
      font-size: 1em;
      flex: 1;
   }

   .summary-author_date {
      margin: 0;
      padding-top: 0.5em;
      font-size: 0.75em;
   }

   .content {
      padding: 3em 0.5em 4em 0.5em;
      max-width: 740px;
      min-width: 550px;
      margin: auto;
      font-size: 16px;
   }

}